
/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 100%;

  margin: 0;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #fafafa;

  font-family: Arial, sans-serif;
}

section, div {
  width: 100%;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

section {
  flex-direction: column;
}

button {
  padding: 1rem;

  border: none;
  border-radius: 0.5rem;

  background-color: #007755;
  color: #ffffff;
}

p {
  margin: 0;
}

.hid {
  display: none;
}

  background-color: #ffffff;
}
