
/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 100%;

  margin: 0;
  padding: 1.5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #fafafa;

  font-family: Arial, sans-serif;
}

section, div {
  width: 100%;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

section {
  flex-direction: column;
}

button {
  padding: 1rem;

  border: none;
  border-radius: 0.5rem;

  background-color: #007755;
  color: #ffffff;
}

p {
  margin: 0;
}

.hid {
  display: none;
}

/* Named Styles */

.menu {}

.start-btn {}
.new-game-btn {}
.repeat-btn {}
.next-btn {}

.difficulty {}

.easy-diff {}
.med-diff {}
.hard-diff {}

.rounds {
  width: auto;
  gap: 1rem;
}

.num {}

.alert {
  border-color: transparent;
  border-radius: 0.5rem;
  border-width: 1px;

  background-color: transparent;
  color: transparent;
}

.done {
  border-color: #007733;
  background-color: rgba(0, 119, 51, 0.3);
  color: black;
}

.fail {
  border-color: #bb0000;
  background-color: rgba(187, 0, 0, 0.3);
  color: black;
}

.field {
  height: 2rem;
  width: 12rem;

  border-radius: 0.5rem;
  boreder-width: 1px;
  border-color: #cccccc;

  background-color: #ffffff;

  color: #000000;
  text-transform: uppercase;
}

.keyboard {
  padding: 0.5rem;
}

.numbers {}

.letters {}

.key-btn {
  border: 1px solid rgba(204, 204, 204, 1);

  background-color: rgba(245, 245, 245, 1);

  color: #000000;
  text-transform: uppercase;

  transition: filter 0.4s;
  transition: color 0.4s;
  transition: background-color 0.4s;
}

.key-btn:hover {
  background-color: rgba(0, 187, 119, 0.3);
  border-color: rgba(0, 119, 85, 1);
  filter: drop-shadow(0 0 0.5rem #00bb77);
}
