
/* General styles */

html:root {
  --btn-border: rgba(0, 119, 85, 1);
  --btn-bg: rgba(0, 119, 85, 1);

  --active-color: rgba(0, 0, 0, 1);
  --active-bg: rgba(0, 119, 85, 0.2);

  --bord-color: rgba(0, 0, 0, 1);
  --cell-bg: rgba(250, 250, 250, 1);

  --level-bg: rgba(50, 108, 120, 1);
  --level-border: rgba(50, 108, 120, 1);

  --modal-bg: rgba(250, 250, 250, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  min-width: 100%;

  margin: 0;
  padding: 0 0 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: rgba(250, 250, 250, 1);

  font-family: Arial, sans-serif;
}

section, div {
  width: 100%;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

section {
  position: relative;
  flex-direction: column;
}

p, h2 {
  margin: 0;
}

button {
  padding: 0.5rem 1rem;

  border: 1px solid var(--btn-border);
  border-radius: 0.5rem;

  background-color: var(--btn-bg);
  color: rgba(255, 255, 255, 1);

  transition: all 0.4s;

  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.hid {
  display: none;
}

/* Named Styles */

.menu {}

.random-btn {}
.restart-btn {}
.solve-btn {}

.settings {}

.theme-btn {
  font-size: 1.1rem;
  padding: 0.35rem;
}

.difficulty {
  flex-wrap: wrap;
}

.easy-diff {}
.med-diff {}
.hard-diff {}

.active-diff {
  background-color: var(--active-bg) !important;
  color: var(--active-color);
  border-color: rgba(0, 119, 85, 0.3);
}

.easy-games, .med-games, .hard-games, .settings, .menu {
  flex-wrap: wrap;
}

.level-btn {
  background-color: var(--level-bg);
  border-color: var(--level-border);
}

.timer-div { gap: 0.25rem; }
.min-span {}
.sec-span {}

.nonogram-div {}

.grid-around {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template: auto auto / auto auto;
  border: none;
  gap: 0;
}

.grid-around > div {
  width: 100%;
  height: 100%;
  border: 2px solid var(--bord-color);
  gap: 0;
}

.left-col {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.top-num {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid var(--bord-color);
  gap: 0.2rem;
}
.left-num {
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  border: 1px solid var(--bord-color);
  gap: 0.8rem;
}

.grid-easy {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
}
.grid-med {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 0;
}
.grid-hard {
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(15, 1fr);
  gap: 0;
}

.cell {
  width: 2rem;
  height: 2rem;
  padding: 0.1rem;

  outline: 1px solid var(--bord-color);
  border: 1px solid var(--bord-color);
  border-radius: 0;

  background-color: var(--cell-bg);

  transition: all 0.2s;

  cursor: pointer;
}

.cell:hover {
  box-shadow: inset 0 0 0.6rem rgba(0, 255, 160, 0.6);
}

.checked {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.wrap {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(10, 0, 20, 0.5);
}

.modal {
  padding: 1.3rem;
  width: fit-content;

  flex-direction: column;
  gap: 1.3rem;

  background-color: var(--modal-bg);
  border-radius: 1rem;
}

.inner-modal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-items: center;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .grid-hard > .cell {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 510px) {
  .left-num {
    gap: 0.5rem;
  }
}
