
/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 100%;

  margin: 0;
  padding: 0 0 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #fafafa;

  font-family: Arial, sans-serif;
}

section, div {
  width: 100%;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

section {
  position: relative;
  flex-direction: column;
}

p, h2 {
  margin: 0;
}

button {
  padding: 0.5rem 1rem;

  border: 1px solid rgba(0, 119, 85, 1);
  border-radius: 0.5rem;

  background-color: rgba(0, 119, 85, 1);
  color: rgba(255, 255, 255, 1);

  transition: all 0.4s;

  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.hid {
  display: none;
}

/* Named Styles */

.start-btn {}
.new-game-btn {}

.difficulty {
  flex-wrap: wrap;
}

.easy-diff {}
.med-diff {}
.hard-diff {}

.active-diff {
  background-color: rgba(0, 119, 85, 0.2);
  color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 119, 85, 0.3);

  cursor: default;
}

.easy-games {}
.med-games {}
.hard-games {}

